<!--
<p>
    <mat-toolbar>
        <span>Packaging Line Manager</span>
    </mat-toolbar>
</p>
-->

<mat-toolbar color="primary" class="mat-elevation-z6">
  <span *checkPermissions>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="toggleMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </span>

  <span>{{ applicationTitle }}</span>
  <span class="example-spacer"></span>

  <span *checkPermissions>
    <button
      mat-icon-button
      (click)="openConfigDialog()"
      class="example-icon"
      aria-label="Configure board"
      matTooltip="Configure the dashboard"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </span>

  <span *checkPermissions>
    <button
      mat-icon-button
      (click)="openGadgetLibraryDialog()"
      aria-label="Add a widget"
      matTooltip="Add a widget to the dashboard"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
  </span>
  <!--
  <span *checkPermissions>
    <span class="menu-text">Change layout</span>
    <button mat-icon-button (click)="toggleLayout()" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>dashboard</mat-icon>
    </button>
  </span>
-->
  <theme-picker></theme-picker>
  <span style="margin-left: 20px">
    <button
      mat-icon-button
      (click)="logout()"
      class="example-icon favorite-icon"
      aria-label="Logout"
      matTooltip="Logout"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </span>
</mat-toolbar>
