@use "../../styles/constants";

.component-page-header {
  display: flex;
  align-items: center;

  @media (max-width: constants.$small-breakpoint-width) {
    padding-left: 0;
  }
}

h1 {
  outline: none;

  @media (max-width: constants.$small-breakpoint-width) {
    padding: 24px 8px;
    font-size: 20px;
  }
}

.docs-primary-header {
  padding-left: 20px;
  h3,
  h6 {
    font-weight: 300;
    margin: 0;
    min-height: 25px;
  }
  h3 {
    margin: 5px;
  }
}

.board-header-wrapper {
  margin: 10px 0 0 25px;
}

//============old====
$primary_color: #3f51b5;

.board-header {
  border-radius: 5px;
  margin: 10px 50px 0 50px;
}

mat-tab-group {
  margin-left: 50px;
  margin-right: 50px;
}

mat-card-title {
  color: $primary_color;
}
.mat-card-content-grid-container {
  display: grid;
  align-items: center;
}

.grid-instruction {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 25px;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 25px 150px 0 150px;
}

.board-instruction {
  min-height: 400px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 1;
}

.cdk-drop-list-dragging,
.cdk-drop-list-receiving {
  border-color: blueviolet;
  border-width: 2px;
  border-style: dashed;
  background-color: rgb(201, 196, 196);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

gridster {
  display: flex;
  height: calc(100vh - 128px);
  flex-direction: column;
}

.is-maximized {
  //height: calc(100%) !important;
  width: calc(100%) !important;
  top: 0 !important;
  left: 0 !important;
  transform: translate3d(0, 0px, 0px) !important;
  z-index: 999 !important;
}
