<!--<mat-card *ngIf="boardExists" class="board-header">
  <mat-card-title>{{ boardData.title }}</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <p>{{ boardData.description }}</p>
  </mat-card-content>
</mat-card>-->
<header
  *ngIf="boardExists"
  class="docs-primary-header component-page-header board-header"
>
  <button mat-button class="sidenav-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="board-header-wrapper">
    <h3>
      {{ boardData.title }}
      <h5>{{ boardData.description }}</h5>
    </h3>
  </div>
</header>

<mat-tab-group
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event); setSelected(selected.value)"
>
  <mat-tab
    *ngFor="let tab of boardData.tabs; let index = index"
    [label]="tab.title"
  >
    <gridster
      [options]="options"
      (dragenter)="onDragEnter($event)"
      (drop)="onDrop($event)"
      style="background-color: transparent"
    >
      <ng-container
        *ngFor="let item of boardData.gadgets"
        style="overflow: hidden"
      >
        <gridster-item
          [item]="item"
          [ngClass]="{ 'is-maximized': item.isMaximized }"
          class="crm-dashboard-widget"
        >
          <!--<ndc-dynamic class="no-drag"
            [ndcDynamicComponent]="components[item.componentType]"
            [ndcDynamicInputs]="item.componentType"
          ></ndc-dynamic>-->
          <gadget-grid-cell-host
            class="no-drag"
            [gadgetData]="item"
          ></gadget-grid-cell-host>
        </gridster-item>
      </ng-container>
      <ng-container
        *ngIf="boardData.gadgets.length < 1"
        style="overflow: hidden"
      >
        <gridster-item [item]="item" *ngFor="let item of emptyGadget">
          <div class="button-holder"></div>
          <h2>Temp widget. Drag and drop any widget from widget library.</h2>
        </gridster-item>
      </ng-container>
    </gridster>

    <!--<div *ngFor="let row of boardData.gadgets; let r = index">
      <div cdkDropListGroup [ngClass]="boardData.structure">
        <div
          *ngFor="let col of row.columns; let c = index"
          cdkDropList
          [id]="getColumnIndexAsString(c)"
          [cdkDropListData]="col.gadgets"
          (cdkDropListDropped)="drop($event)"
          [ngClass]="col.gadgets.length == 0 ? 'empty-column-placeholder' : ''"
        >
          <gadget-grid-cell-host
            *ngFor="let gadget of col.gadgets"
            [gadgetData]="gadget"
          ></gadget-grid-cell-host>
        </div>
      </div>
    </div>-->
  </mat-tab>
</mat-tab-group>

<div *ngIf="!boardExists">
  <div class="row">
    <button mat-raised-button color="primary" (click)="loadExistingBoard()">
      Load existing board
    </button>
  </div>
  <div class="grid-instruction">
    <mat-card class="board-instruction">
      <mat-card-title>Step 1</mat-card-title>
      <mat-card-content class="mat-card-content-grid-container">
        <p>Create a board instance which will represent a packaging line.</p>
        <img width="100%" src="../../assets/help/new-board.gif" />
      </mat-card-content>
    </mat-card>

    <mat-card class="board-instruction">
      <mat-card-title>Step 2</mat-card-title>
      <mat-card-content class="mat-card-content-grid-container">
        <p>
          Populate the board with the product image gallery tool and the product
          component list tool.
        </p>
        <img width="100%" src="../../assets/help/add-gadget.gif" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
