<mat-card-header class="widget-header move-cursor">
  <div
    mat-card-avatar
    style="background-image:url('{{ iconpath }}') ; background-size: cover;"
  ></div>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  <!--<mat-card-subtitle>{{description}}</mat-card-subtitle>-->
  <mat-chip-listbox>
    <mat-chip selected color="accent" *ngIf="inConfig">
      You are in configuration mode</mat-chip
    >
  </mat-chip-listbox>
  <div style="margin-left: auto">
    <button mat-button class="crm-dashboard-widget-toolbar-button">
      <mat-icon class="drag-handler">open_with</mat-icon>
    </button>
    <!--
    <button mat-button class="crm-dashboard-widget-toolbar-button">
      <mat-icon>settings</mat-icon>
    </button>-->
    <button
      mat-icon-button
      class="crm-dashboard-widget-toolbar-button"
      (click)="toggleCardMaximize()"
    >
      <mat-icon>{{ isMaximized ? "fullscreen_exit" : "fullscreen" }}</mat-icon>
    </button>
    <button
      mat-icon-button
      class="more-button"
      [matMenuTriggerFor]="menu"
      aria-label="Toggle menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="toggleConfigMode()">{{ menuLabel }}</button>
    <button mat-menu-item (click)="remove()">Remove</button>
  </mat-menu>
</mat-card-header>
