.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .widget-card .mat-mdc-card-header .mat-mdc-card-header-text {
  /* CSS styles go here */
  width: 75%; // for example to remove the margin
}
