@use "@angular/material" as mat;

@use "sass:map";
//@use './app/pages/component-viewer/component-viewer-theme';
@use './styles/tables-theme';

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
  $next-theme: mat.define-palette(mat.$red-palette);

  .docs-app-background {
    background: mat.get-color-from-palette($background, background);
  }

  .docs-primary-header {
    background: mat.get-color-from-palette($primary);

    h3 {
      color: mat.get-color-from-palette($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .docs-help-support {
    color: mat.get-color-from-palette($foreground, secondary-text);

    a {
      color: mat.get-color-from-palette($foreground, text);
    }
  }

  .is-next-version {
    background: mat.get-color-from-palette($next-theme, 900) !important;
  }

  //@include component-viewer-theme.theme($theme);
  @include tables-theme.theme($theme);
}
